@model BookshopDomain.Model.Publisher

@{
    ViewData["Title"] = "Details";
}

<h1>Інформація про видавництво</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Назва
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Книги
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Books" asp-route-id="@Model?.Id">Усі книги видавництва</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутись до видавництв</a>
</div>
