@model BookshopDomain.Model.Book;

@{
    ViewData["Title"] = "Import";
}

<h1>Імпорт</h1>

<div>
    <h3>Оберіть Excel-файл для завантаження</h3>
    @using (Html.BeginForm("Import", "Books", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    }

    @if (ViewBag.Message != null)
    {
        <div id="message" class="alert alert-info">
            @ViewBag.Message
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            if ($('#message').length) {
                setTimeout(function() {
                    $('#message').fadeOut('slow');
                }, 5000);
            }
        });
    </script>
}

